@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.boxed {
	@apply w-full;
}
.nav-links {
}
.nav-links li {
	@apply inline-block;
	@apply mx-2;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
